In [13]:
# importing libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
# from sklearn.preprocessing import LabelEncoder

In [14]:
#load Iris data
iris_df = pd.read_csv('Iris.csv')
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Variables

We don't need the Id column, therefore, we can drop it.

In [15]:
# Drop the Id column
iris_df.drop('Id', axis = 1, inplace = True)
iris_df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
# Encoding the Species column
label_encoder = preprocessing.LabelEncoder()
iris_df['Species'] = label_encoder.fit_transform(iris_df['Species'])
iris_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

The first 4 columns are the independent variables and the 5th column is the dependent variable.

In [17]:
# Independent variables
X = iris_df.iloc[:,:4].values

# Dependent variables
y = iris_df['Species'].values

Encoding the dependent variable y such that ‘Iris-setosa' is encoded as 0, and 'Iris-versicolor' and 'Iris-virginica' are both encoded as 1. This is done bt traversing through the variables lists, using a for loop and assigning 0 or 1 to the corresponding values.

In [21]:

for i in range(len(y)):
    if y[i] == 2:  
        y[i]=1   

print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1]

# Training and Test data

In [22]:
# Split the data into training and test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

# Logistic Regression Model

In [23]:
# train the model
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

# make predictions on test data
y_pred = log_reg.predict(X_test)

# Confusion Matrix

In [24]:
from sklearn.metrics import confusion_matrix

conf_mat = confusion_matrix(y_test,y_pred)

In [25]:
from sklearn.utils.multiclass import unique_labels

labels = unique_labels(y_test)
columns = [f'Predicted {label}' for label in labels]
index = [f'Actual {label}' for label in labels]

confusion_df = pd.DataFrame(conf_mat, columns = columns, index = index )

confusion_df

          Predicted 0  Predicted 1
Actual 0           11            0
Actual 1            0           19

The recall and precision of the model are the same because the false positive and true negative bloks equal to are zero.

# Accuracy

In [26]:
# Extract values from the confusing matric
true_positive = confusion_df.iloc[1,1]
true_negative = confusion_df.iloc[0,0]
false_positive = confusion_df.iloc[0,1]
false_negative = confusion_df.iloc[1,0]

# Calculate accuracy
numerator = true_positive + true_negative
denominator = numerator + false_positive + false_negative


accuracy = numerator/denominator

print(f"Accuracy = {accuracy}")

Accuracy = 1.0

# Precision

In [27]:
# Calculate precision
numerator = true_positive
denominator = true_positive + false_positive

precision = numerator/denominator

print(f"Precision = {precision}")

Precision = 1.0

# Recall

In [28]:
# Calculate recall
numerator = true_positive
denominator = true_positive + false_negative

recall = numerator/denominator

print(f"Recall = {recall}")

Recall = 1.0

My prediction was right because the recall and prediction are both 100%. The accuracy is 100% as well.